openapi: 3.2.0
info:
  title: Bluecore Transactional SEND EMAIL API
servers:
- url: https://api.bluecore.com/email/
tags:
- name: SEND EMAIL
paths:
  /send/v1/{namespace}:
    post:
      summary: Send a Transactional or Real-Time Welcome Email
      description: " This section details how to send a transactional or real-time welcome email through Bluecore. \n\n**Returns**: Object containing the conversation ID used to track the message. (See <span id='response-code-text'>**Responses > 202**</span> below). "
      parameters:
      - in: path
        name: namespace
        description: The partner namespace in Bluecore.
        required: true
        schema:
          type: string
      - in: header
        name: Authorization Bearer
        description: The authorization token in the header.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  conversation_id:
                    type: string
                    example: '3123245238545'
                    description: The Bluecore assigned conversation ID. This value can be used to track the status of the email message.
          description: Successful receipt of the request.
      tags:
      - SEND EMAIL
components:
  schemas:
    body:
      type: object
      properties:
        campaign_id:
          type: string
          description: The Bluecore campaign identifier. This identifier can be obtained from the Bluecore UI campaigns page.
          example: '34545238545'
        email:
          type: string
          description: The recipient's email address.
          example: test@bluecore.com
        template_attributes:
          type: object
          description: 'A JSON formatted object containing data to be used in the Email template. '
          properties:
            template_variable_1:
              type: string
              description: Example string value
              example: Some text here
            template_variable_2:
              type: number
              description: Example number value
              example: 1234
            html_variable:
              type: string
              description: Example HTML content
              example: <p>html here</p>
        customer_attributes:
          type: object
          description: A JSON formatted object containing data to add to or update for the customer record.
          properties:
            customer_attribute_1:
              type: string
              description: Example string value
              example: Some text here
            customer_attribute_2:
              type: number
              description: Example number value
              example: 1234
        use_draft:
          type: boolean
          description: 'A flag indicating if the draft version of a campaign should be used.

            Default: False.'
          example: false
        product_ids:
          type: array
          items:
            type: string
            example: 3bs7705f6n3d2
          description: 'This parameter is currently in development and is not available for general use at this time. This will be available in a future release.


            List of product ids to be used as input products only if the campaign uses the co-recommendations product block.

            '
      required:
      - campaign_id
      - email
      - template_attributes
x-tagGroups:
- name: GETTING STARTED
  tags:
  - INTRODUCTION
- name: API ACCESS
  tags:
  - AUTHORIZATION
- name: ENDPOINTS
  tags:
  - SEND EMAIL
  - GET STATUS
- name: API REFERENCE
  tags:
  - REQUEST BODY
  - TEMPLATE ATTRIBUTES
  - CUSTOMER ATTRIBUTES
  - VALIDATION
  - API RESPONSE CODES
  - API LIMITS
