openapi: 3.0.3
info:
  title: Bluecore Authn CampaignsAPIPublic API
  version: 0.0.1
  description: The Bluecore API supports the REST architecture style and uses JSON requests and responses. It exposes Bluecore's Customer (Shopper) profiles, Eligibility (subscription/consent) management, and Communicate (Direct Send + Transactional messaging) surfaces, plus OAuth 2.0 client-credentials authentication. Harvested by API Evangelist from the per-operation OpenAPI definitions published at developers.bluecore.com.
  contact:
    name: Bluecore Support
    email: support@bluecore.com
    url: https://developers.bluecore.com/
servers:
- url: https://a.bluecore.com/api
  description: Bluecore API server
tags:
- name: CampaignsAPIPublic
paths:
  /namespaces/{namespace}/direct-send-campaigns:
    post:
      tags:
      - CampaignsAPIPublic
      summary: Create an external campaign in Bluecore.
      operationId: CampaignsAPIPublic_CreateDirectSendCampaign
      parameters:
      - name: namespace
        in: path
        description: The unique name of the Bluecore environment.
        required: true
        schema:
          type: string
        example: bluestore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignsAPIPublic_CreateDirectSendCampaign_campaigns.public.CreateDirectSendCampaignRequest'
            example:
              folder_id: '5008175763677184'
              name: Spring sale
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                example: 700;w=60;burst=75;w=1
                type: string
                format: quota-policy
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current time window
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds until reset of the current time window
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaigns.public.DirectSendCampaignResponse'
              examples:
                create_direct_send_campaign:
                  summary: Direct send campaign created
                  value:
                    data:
                      namespace: bluestore
                      campaign_id: '6239084716089344'
                      name: Spring Sale
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                example: 700;w=60;burst=75;w=1
                type: string
                format: quota-policy
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current time window
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds until reset of the current time window
              schema:
                type: integer
          content:
            application/json: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.rpc.Status'
      security:
      - GlooAuth:
        - directsend.write
components:
  schemas:
    google.rpc.Status:
      type: object
      properties:
        code:
          type: integer
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
          format: int32
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/google.protobuf.Any'
          description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
      description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
    campaigns.public.DirectSendCampaignResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/campaigns.public.DirectSendCampaignData'
    campaigns.public.DirectSendCampaignData:
      type: object
      properties:
        namespace:
          type: string
          description: The unique name of the Bluecore environment.
        campaign_id:
          type: string
          description: The unique ID associated with the campaign.
        name:
          type: string
          description: The name of the campaign.
    CampaignsAPIPublic_CreateDirectSendCampaign_campaigns.public.CreateDirectSendCampaignRequest:
      required:
      - name
      type: object
      allOf:
      - type: object
        properties:
          name:
            minLength: 1
            type: string
            description: The name of the campaign.
      - oneOf:
        - title: folder_id
          type: object
          properties:
            folder_id:
              type: string
              description: 'The unique ID of the folder where the campaign will be created. The folder must already exist within Bluecore. example: "4635869850591232"'
    google.protobuf.Any:
      type: object
      properties:
        '@type':
          type: string
          description: The type of the serialized message.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
  securitySchemes:
    GlooAuth:
      type: apiKey
      in: header
      name: authorization
      description: Value for the authorization header will be Bearer followed by the token generated with the [Get access token](https://developers.bluecore.com/reference/authn_getaccesstoken#/) call.
      x-default: Bearer token
